.container {
	width:100%;
}

.narrowizer {
	width: 50%;
	max-width: 654px;
}

.header {
	background-color: #a61a13;
	border: 1px;
	border-color: #333;
	font-size: 1.2em;
	text-align: center;
}

.body {
	padding: 10px;
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: #333;
	background-color: #fff;
}

.output {
	font-family: sans-serif;
	font-size: 1.4em;
	color: #fff;
	background-color: #39547A;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;	
}

/* type */

.text {
	font-size: 0.8em;
}

.ideas {
	font-size: 1.2em;
	margin-top: 5px;
	text-align: center;
}

.dp {
	font-family: Georgia, serif;
	font-variant: small-caps;
	color: #fff;
}

.wknd {
	color: #ddd;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.gen {
	color: #fff;
	font-weight: bold;
	font-family: Arial, sans-serif;	
}

a,
a.hover,
a.active,
a.visited {
	text-decoration: underline;
	color: #39547A;
	font-weight: bold;
}

.output a,
.output a.hover,
.output a.active,
.output a.visited {
	text-decoration: underline;
	color: #fff;
	font-weight: bold;
}