.container {
	width:100%;
}

.narrowizer {
	width: 50%;
	max-width: 654px;
}

.header {
	background-color: #ddd;
	border: 1px;
	border-color: #333;
	font-size: 1.2em;
	text-align: center;
}

.body {
	padding: 10px;
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: #333;
	background-color: #fff;
}

.output {
	font-family: sans-serif;
	font-size: 1.4em;
	color: #333;
	background-color: #ddd;
}

/* type */

.generate {
	font-size: 2em;
	text-align: center;
}

.dp {
	font-family: Georgia, serif;
	font-variant: small-caps;
	color: #000;
}

.wknd {
	color: #a61a13;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.gen {
	color: black;
	font-weight: bold;
	font-family: Arial, sans-serif;	
}

a,
a.hover,
a.active,
a.visited {
	text-decoration: none;
	color: #39547A;
	font-weight: bold;
}